<!DOCTYPE html>   
<html>   
 <head>  
    <title> 
        ESViesnīca starptauisku saite 
    </title>  
 <link rel="stylesheet" href="login.css">
<style>    
</style>   
</head>    
<body>    
     <h1> Login </h1> 
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <a class="Log" href="file:///C:/Users/gibba/OneDrive/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/%D1%81%D0%B0%D0%B9%D1%82/main2.html">Login</a>
            <a class="Sign" href="file:///C:/Users/gibba/OneDrive/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/%D1%81%D0%B0%D0%B9%D1%82/signup.html">SignUp</a>
    </form>     
</body>     
</html>  