<!DOCTYPE html>   
<html>
    <head>
       <title>ESViesnīca starptauisku saite </title>
       <link rel="stylesheet" href="../static/css/forgotpass.css">
    </head>
    <body>
        <form action="FP">
            <h1 title="Form1" style="position: relative; text-align: center;">Forgot Password</h1>
            <div class="group">
                <label for="">Email</label>
                <input type="Email">
            </div>
            <div class="group">
                <center><a class="ForPass" href="main.html">New Password</a></center>
            </div>
        </form>
    </body>
</html>
