<!DOCTYPE html>   
<html>
    <head>
       <title>ESViesnīca starptauisku saite </title>
       <link rel="stylesheet" href="../static/css/forgotpass.css">
    </head>
    <body>
        <form action="FP">
            <h1 title="Form1" style="position: relative; text-align: center;">Forgot Password</h1>
            <div class="group">
                <label for="">Email</label>
                <input type="Email">
            </div>
            <div class="group">
                <center><a class="ForPass" href="file:///C:/Users/gibba/OneDrive/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/%D1%81%D0%B0%D0%B9%D1%82/main.html">New Password</a></center>
            </div>
        </form>
    </body>
</html>