<!DOCTYPE html>   
<html>
    <head>
       <meta charset="UTF-8">
       <title>ESViesnīca starptauisku saite </title>
       <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
        <form action="Login">
            <h1 title="Form1" style="position: relative; text-align: center;">Login</h1>
            <div class="group">
                <label for="">Email</label>
                <input type="Email">
            </div>
            <div class="group">
                <label for="">Password</label>
                <input type="Password">
            </div>
            <div class="group">
                <center><a class="LOGIN" href="file:///C:/Users/gibba/OneDrive/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/%D1%81%D0%B0%D0%B9%D1%82/main2.html">Login</a></center>
                <center><a class="SIGNUP" href="file:///C:/Users/gibba/OneDrive/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/%D1%81%D0%B0%D0%B9%D1%82/signup.html">Sign Up</a></center>
                <center><a class="FG" href="file:///C:/Users/gibba/OneDrive/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/forgotpass.html">Forgot password?</a></center>
            </div>
        </form>
    </body>
</html>