<!DOCTYPE html>   
<html>
    <head>
       <meta charset="UTF-8">
       <title>ESViesnīca starptauisku saite </title>
       <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
        <form action="Login">
            <h1 title="Form1" style="position: relative; text-align: center;">Login</h1>
            <div class="group">
                <label for="">Email</label>
                <input type="Email">
            </div>
            <div class="group">
                <label for="">Password</label>
                <input type="Password">
            </div>
            <div class="group">
                <center><a class="LOGIN" href="../templates/main2.html">Login</a></center>
                <center><a class="SIGNUP" href="../templates/signup.html">Sign Up</a></center>
                <center><a class="FG" href="../templates/forgotpass.html">Forgot password?</a></center>
            </div>
        </form>
    </body>
</html>