<!DOCTYPE html>
<html>
    <head>
        <title>ESViesnīca starptauisku saite  </title>
        <link rel="stylesheet" href="../static/css/menu.css">
        <link rel="stylesheet" href="../static/css/out.css">
    </head>
<body>
    <h1 style="position: relative;left: 1%;">ES Viesnīca starptauisku saite</h1>
    <ul>
        <a class="Out" href="file:///C:/Users/gibba/OneDrive/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/%D1%81%D0%B0%D0%B9%D1%82/main.html">Log Out</a>
    </ul>
    <nav>
        <a class="link" href="#">Account</a>
        <a class="link" href="#">Hotels</a>
        <a class="link" href="#">About us</a>
        <a class="link" href="#">Contacts</a>
        <a class="link" href="#">Help</a>
        <div class="animation start-home"></div>
    </nav>
   <hr>
   <br>
   <h1 style="position: relative;text-align: center;"><big>We will help you find your hotel!</h1>
    <ul>
        <a class="rez" href="file:///C:/Users/gibba/OneDrive/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/%D1%81%D0%B0%D0%B9%D1%82/login.html">Rezervacija</a>
    </ul>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap" rel="stylesheet">
</body>
</html>