<!DOCTYPE html>   
<html>
    <head>
       <meta charset="UTF-8">
       <title>ESViesnīca starptauisku saite </title>
       <link rel="stylesheet" href="../static/css/signup.css">
    </head>
    <body>
        <form action="Register">
            <h1 title="Form1" style="position: relative; text-align: center;">Regestration</h1>
            <div class="group">
                <label for="">Name</label>
                <input type="Name">
            </div>
            <div class="group">
                <label for="">Email</label>
                <input type="Email">
            </div>
            <div class="group">
                <label for="">Password</label>
                <input type="Password">
            </div>
            <div class="group">
                <label for="">Re:Password</label>
                <input type="Re:Password">
            </div>
            <div class="group">
                <center><a class="SignUP" href="file:///C:/Users/gibba/OneDrive/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/%D1%81%D0%B0%D0%B9%D1%82/main2.html">Sign Up</a></center>
            </div>
        </form>
    </body>
</html>