nav {
    margin:27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #535d90;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #000;
}
nav a{
    line-height: 50px;
    height: 100%;
    font-size: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    position: 100%;
    top: 0%;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 115px;  
}
a:nth-child(2) {
    width: 115px;  
}
a:nth-child(3) {
    width: 115px;  
}
a:nth-child(4) {
    width: 115px;  
} 
a:nth-child(5) { 
    width: 110px;   
} 
link{
    color: #ffff;
    text-decoration: none;

    transition: color .2s linear;
}

.link:hover{
    color: #1abc9c;
}
body {
    font-size: 12px;
    font-family:sans-serif;
    background-color: white;
}
.rez {
    position: absolute;
width: 50px;
height: 100px;
left: 830px;
top: 330px;
border: 0;
background: transparent;
font-family: Inter;
font-style: normal;
font-weight: 100;
font-size: 40px;
line-height: 70px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.017em;
text-decoration: none;
text-align: center;
text-transform: uppercase;
color: #000000;
}